.cierre-ventas
	width 100%
	padding-top 40px
	padding-bottom 60px
	position relative
	z-index 1
	background gris-clarito
	.wrapt-cierre-ventas
		width 90%
		margin 0 auto 
		.texto-intro-paquetes
			width 90%
			margin 0 auto 
			margin-bottom 60px
			h2 
				font-size 1.5rem 
				text-transform uppercase
				text-align center
				color gris-texto
				text-align center
				margin-bottom 10px
			p 
				color gris-texto
				text-align center
				margin-bottom 10px
				&:last-child
					text-transform uppercase
		.formulario-agenda
			width 80%
.img-agenda-cita
	display none
.preguntas-frecuentes
	width 100%
	margin 0 auto
	margin-top 50px
	padding-bottom 50px
	h2
		width 90%
		margin 0 auto
		color rojo-cgq
		font-size 1.2rem
		margin-bottom 10px
	ul
		width 90%
		margin 0 auto
		position relative
		list-style none
		padding 0
		a
		.inner
			padding-left 1em
			overflow hidden
			display none
		li 
			margin .5em 0
		.toggle
			width 92%
			display block
			background azul-cgq
			color #fefefe
			padding .75em 4%
			border-radius 0.15em

@media screen and (min-width: 700px)
	.cierre-ventas
		padding-bottom 0
		.wrapt-cierre-ventas
			.texto-intro-paquetes
				width 400px
	.img-agenda-cita
		width 40%
		display inline-block
		vertical-align top
		img 
			width 100%
	.preguntas-frecuentes
		width 50%
		display inline-block
		vertical-align top
@media screen and (min-width: 1000px)
	.cierre-ventas
		padding-top 100px
		.wrapt-cierre-ventas
			.texto-intro-paquetes
				width 500px
				margin-bottom 100px
	.preguntas-frecuentes
		width 40%
		margin-left 15%
		margin-top 50px
	.img-agenda-cita
		width 30%
		margin-top 50px








