.main-general
	width 100%
.slide-padecimiento
	width 100%
	margin-top 30px
	padding-bottom 50px
	position relative
	z-index 1
	.wrapt-slide-padecimiento
		width 90%
		margin 0 auto 
		.video 
			position relative
			width 100%
			padding-bottom 56.25%
			height 0
			margin-bottom 20px
			img, iframe
				position absolute
				top 0
				left 0
				width 100%
				height 100%
		.texto-slide-padecimiento
			width 100%
			margin-bottom 20px
			h1
				font-size 1.5rem 
				text-transform uppercase
				color azul-cgq
				margin-bottom 10px
			p 
				font-size 1rem
				line-height 1.4rem
				color gris-texto
				&:nth-child(3) 
					font-size 1.4rem 
					line-height 1.8rem
					margin-top 20px
					text-transform uppercase
			.btn-agenda
				width 140px 
				height 40px 
				background rojo-cgq
				line-height 40px 
				color #fff
				font-size 1rem
				text-align center
				margin-top 10px
				cursor pointer
.descripcion-padecimiento
	width 100%
	padding-top 30px
	padding-bottom 50px 
	background azul-cgq
	.wrapt-descripcion-padecimiento
		width 90%
		margin 0 auto
		.nav-descripcion-padecimiento
			padding-left 11px
			li 
				list-style none 
				color #fff
				display inline-block 
				vertical-align top
				margin-right 10px 
				padding-right 10px
				border-right 1px solid #fff
				cursor pointer
				text-transform uppercase
				font-weight 300
				opacity .5
				&:last-child
					margin-right 0px
					border-right 0px solid #fff
			.nav-descripcion-elegido
				font-weight 400
				opacity 1
		article
			padding 20px 10px 
			border 1px solid #fff 
			border-radius 10px
			margin-top 10px
			height auto
			transition all .5s
			div
				display none
				p 
					color #fff
					line-height 1.4rem 
					font-weight 300
				ul 
					position relative
					li 
						list-style none
						color #fff
						line-height 1.4rem 
						font-weight 300
						margin-left 15px
						&:before
							content ""
							display block
							width 8px 
							height 8px 
							background rojo-cgq
							border-radius 50%
							position absolute
							left 0
							margin-top 8px
			.visible
				display block 
@media screen and (min-width: 700px)
	.slide-padecimiento
		width 100%
		margin-top 50px
		padding-bottom 50px
		position relative
		z-index 1
		.wrapt-slide-padecimiento
			width 80%
			font-size 0
			.video 
				width 40%
				padding-bottom 23%
				height 0
				margin-bottom 20px
				display inline-block
				vertical-align top
				margin-top 50px
			.texto-slide-padecimiento
				width 50%
				margin-bottom 20px
				display inline-block
				vertical-align top
				margin-right 10%
	.descripcion-padecimiento
		padding-top 50px
		padding-bottom 80px 
		.wrapt-descripcion-padecimiento
			width 80%
			margin 0 auto
			article
				width 350px
	.sii 
		background url("../img/fondo-sindrome-intestino-irritable.jpg") no-repeat
		background-size cover
	.erge
		background url("../img/fondo-erge.jpg") no-repeat
		background-size cover
	.enfermedades-gastricas
		background url("../img/fondo-enfermedades-gastricas.jpg") no-repeat
		background-size cover
	.enfermedades-intestino-delgado
		background url("../img/fondo-enfermedades-intestino-delgado.jpg") no-repeat
		background-size cover
	.enfermedades-colonicas
		background url("../img/fondo-enfermedades-colonicas.jpg") no-repeat
		background-size cover
	.enfermedades-hepaticas
		background url("../img/fondo-enfermedades-hepaticas.jpg") no-repeat
		background-size cover
	.enfermedades-vesicula
		background url("../img/fondo-enfermedad-vesicula.jpg") no-repeat
		background-size cover
	.enfermedades-pancreaticas
		background url("../img/fondo-enfermedades-pancreaticas.jpg") no-repeat
		background-size cover
	.enfermedades-bazo
		background url("../img/fondo-enfermedad-bazo.jpg") no-repeat
		background-size cover
@media screen and (min-width: 1000px)
	.slide-padecimiento
		width 100%
		margin-top 80px
		padding-bottom 100px
		position relative
		z-index 1
		.wrapt-slide-padecimiento
			width 80%
			font-size 0
			text-align center
			.video 
				width 45%
				padding-bottom 25.5%
				height 0
				margin-bottom 20px
				display inline-block
				vertical-align top
				margin-top 50px
				&:after
					content ""
					display block
					width 400px
					height 40px
					position absolute
					bottom -50px 
					left 50%
					margin-left -200px
					background url("../img/sombra-video.png")
					background-size cover
			.texto-slide-padecimiento
				width 36%
				margin-bottom 20px
				display inline-block
				vertical-align top
				margin-right 14%
				text-align left
				h1 
					font-size 2rem
					line-height 2.5rem
				p 
					font-weight 400 
					line-height 1.6rem
	.descripcion-padecimiento
		padding-top 80px
		padding-bottom 130px 
		height 350px
		.wrapt-descripcion-padecimiento
			width 80%
			margin 0 auto
			article
				width 350px
	















