@import "nib"
salmon-serna = #eb988b
gris-menu = #4d4d4d
gris-texto = #333333
gris-clarito = #f2f2f2
gris-fondo = #f2f2f2
rojo-cgq = #ed462f
azul-cgq = #134785

@import "parts/header"
@import "parts/iconos"
@import "parts/index"
@import "parts/servicios"
@import "parts/padecimientos"
@import "parts/cierre-ventas"
@import "parts/contacto"
@import "parts/blog"
@import "parts/nota"

*
	margin 0 
	padding 0
body, html
	marging 0
	padding 0
	font-size 16px
	font-family: 'Fira Sans Condensed', sans-serif;
	height 100%
	
.gracias 
	width 90%
	max-width 500px
	margin 0 auto
	text-align center
	margin-top 100px
	div 
		max-width 400px 
		margin 0 auto
		h1 
			font-size 1.5rem
			color azul-cgq 
			font-weight 800 
			text-transform uppercase
			text-align center
			margin-left 0
			margin-bottom 0
		p 
			font-size 1rem 
			color gris-texto
			line-height 1.5rem 
			font-weight 400
			text-align center
	figure 
		width 100%
		img 
			width 100%
@media screen and (min-width: 700px)
	.gracias 
		width 90%
		max-width 800px
		margin 0 auto
		text-align center
		margin-top 100px
		div 
			max-width 600px 
			margin 0 auto
			margin-bottom 50px
			h1 
				font-size 2.5rem
				line-height 3rem
				color azul-cgq 
				font-weight 800 
				text-transform uppercase
				text-align center
				margin-left 0
				margin-bottom 0
			p 
				font-size 1.2rem 
				color gris-texto
				line-height 1.8rem 
				font-weight 400
				text-align center
		figure
			width 500px
			margin 0 auto
				




